.lead__image{
  width: 984px;
  display: flex;
  object-fit: cover;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__image {
    max-width: calc(100vw - 96px);
    height: 580px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__image {
    max-width: 100vw;
    height: 480px;
  }
}
@media screen  and (max-width: 320px) {
  .lead__image {
    max-width: 100vw;
    height: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    height: 615px;
  }
}



