.grid__items {
  max-width: 1184px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
   gap: 16px 16px;
   justify-content: center;
   padding: 0 48px;
   margin: auto;
   object-fit: cover;
   list-style-type: none;
}

@media screen and (max-width: 454px){
  .grid__items{
      padding: 0 16px;
      gap: 12px;
      min-width: 288px;
  }

}

@media screen and (min-width: 321px) and (max-width: 768px){
  .grid__items {
      max-width: 720px;
      margin: auto;
      padding-bottom: 88px;
      gap: 16px;
      padding: 0 24px ;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px ){
  .grid__items {
      max-width: 928px;
      gap: 14px;
      margin: auto;
      margin-bottom: 92px;

  }
}


