@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__section/cover__section.css");

.cover {
  max-width: 1184px;
  margin: 90px auto 0;
}

@media screen and (max-width: 454px){
  .cover {
    margin-top: 30px;
    margin-bottom: 64px;;
  }
}
