.state__paragraph {
  margin: 0;
    grid-area: paragraph;
    grid-row: auto;
    padding: 0;
    font-size: 18px;
    line-height: 1.67;
    color: #fff;
}

@media screen and (max-width: 768px){
  .state__paragraph {
    padding: 0;
    font-size: 16px;
    line-height: 1.62;
}
}

@media screen and (max-width: 454px){
  .state__paragraph {
    margin: 0 16px;
    padding: 0;
}
}



